<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecomarket"
        tools:targetApi="31">
        <activity
            android:name=".AddTaskActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Map"
            android:exported="false" />
        <activity
            android:name=".Controller.SplashScreenActivity"
            android:exported="false"></activity>
        <activity
            android:name=".Controller.WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.NewPassword"
            android:exported="false" />
        <activity
            android:name=".Controller.Otp"
            android:exported="false" />
        <activity
            android:name=".Controller.SignUp"
            android:exported="false" />
        <activity
            android:name=".Controller.Login"
            android:exported="false" />
        <activity
            android:name=".Controller.GetStarted"
            android:exported="false" />
        <activity
            android:name=".Controller.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>